/* ----------------------------------------
# Form
---------------------------------------- */
.containForm {
  overflow-x: hidden;
  overflow-y: auto;
}
.form {
}
.inputText {
}
.inputText:-webkit-autofill,
.inputText:-webkit-autofill:hover,
.inputText:-webkit-autofill:focus,
.inputText:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  /* -webkit-background-clip: text; */
  -webkit-box-shadow: 0 0 0px 1000px theme(colors.green) inset;
  /* 1000px: Đây là sự mở rộng của bóng đổ. Trong trường hợp này, bóng đổ sẽ mở rộng ra một khoảng lớn (1000px) từ vị trí của phần tử */
  /* inset: Đây là từ khóa inset, cho biết rằng bóng đổ nằm trong phần bên trong của phần tử thay vì ở ngoài. */
  transition: background-color 5000s ease-in-out 0s;
  /* bỏ qua màu của background-color khi dùng autocomplite của Chorme */
}

/* 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */
.name {
}
.containInputName {
  width: 46%;
}
.label {
  transition: all 1s ease;
  left: 0.5rem;
  top: 15%;
  font-size: 100%;
}
.labelTextArea {
  transition: all 1s ease;
  left: 0.5rem;
  top: 5%;
  font-size: 100%;
}
.email {
}
.content {
}
.button {
  transition: all 0.5s ease;
}
