.product,
.imageProduct {
  box-shadow: 0px 0px 30px rgb(173, 173, 173);
}
.divImageProduct {
}
.buttonContact {
  transition: all 0.2s linear;
}
.buttonContact:hover {
  background-color: theme(colors.green);
  color: white;
}
