.canvas {
  height: theme(boxContent.height);
  width: theme(boxContent.width);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .canvas {
    height: theme(boxContent.lgHeight);
    width: theme(boxContent.lgWidth);
  }
}
